<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>5000</particles>
  <batches>150</batches>
  <inactive>50</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="box">
      <parameters>-0.4096 -0.4096 -1 0.4096 0.4096 1</parameters>
    </space>
  </source>
</settings>
